<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
    <title>University Website Design Tutorial</title>

    <link rel="stylesheet" href="h.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet" </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" <body>

    <section class=" sub-header" .>

        <nav>

            <a href="index.html"><img src="image/logo.png"></a>

            <div class="nav-link" id="navLink">

                <i class="fa fa-times" onclick="hidemenu()"></i>



                <ul>


                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="course.html">Course</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="Contact.html">Contact</a></li>




                </ul>

            </div>


            <i class="fa fa-bars" onclick="showmenu()"></i>


        </nav>

        <h1>ABOUT US </h1>




        </div>



    </section>

    <!--------------------------------------About us Contant------------------------------------->

    <section class="about-us">

        <div class="row">

            <div class="about-col">

                <h1>We are the world's Largest University</h1>

                <p>fssnj j kjwn jnnwu n uiwu n ni u n jnfjnfsn nnfjskjnfjsjn nj nwnew ufuiwu iwu u ifjnjnc nxjfdjfkdn nwfiwerunf jsjfjsnvs ufuufnid ijdinfnnnn jdfiddn iiunfie </p>

                <a href="" class="hero-btn red-btn">EXPLORE NOW</a>


            </div>

            <div class="about-col">

                <img src="image/about.jpg">


            </div>

        </div>




    </section>

    <!--------------------------------------About us Contant Close------------------------------------->





    <!--------------------------------------------------------Footer------------------------------------------------------------------->

    <section class="footer">

        <h4>About Us</h4>

        <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

        <div class="icons">


            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>




        </div>







    </section>

    <!--------------------------------------------------------Footer------------------------------------------------------------------->


    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->

    <script>
        var navLink = document.getElementById("navLink ")

        function showmenu() {
            navLink.style.right = "0 ";
        }

        function hidemenu() {
            navLink.style.right = "-200px ";
        }
    </script>

    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->



    </body>

</html>