<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
    <title>University Website Design Tutorial</title>

   <link rel="stylesheet" href="css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">

    <section class="header" .>

        <nav>

            <a href="index.html"><img src="image/logo.png"></a>

            <div class="nav-link" id="navLink">

                <i class="fa fa-times" onclick="hidemenu()"></i>



                <ul>


                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="course.html">Course</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="Contact.html">Contact</a></li>




                </ul>

            </div>


            <i class="fa fa-bars" onclick="showmenu()"></i>


        </nav>

        <div class="text-box">

            <h1>World Biggest University</h1>
            <p>Making website is known one of the earliest thing in the world you just need to learn HTML CSS <br>JavaScript you are good to go</p>
            <a href="" class="hero-btn">Visit Us To known More</a>

        </div>



    </section>


    <!-----------------------------------------------------------Course---------------------------------------------------------------->

    <section class="course">

        <h1>Courses We Offer</h1>
        <p>Lprium isdbm gskjtw uinkjne iuierj iewr ksd jnng </p>

        <div class="row">

            <div class="course-col">

                <h3>Intermidiate</h3>
                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>


            <div class="course-col">

                <h3>Degree</h3>
                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>


            <div class="course-col">

                <h3>Post Graguation</h3>
                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>

        </div>


    </section>

    <!-----------------------------------------------------------Course---------------------------------------------------------------->



    <!-----------------------------------------------------------Cumpus---------------------------------------------------------------->



    <section class="campus">

        <h1>Our Global Campus</h1>
        <p>Making website is known one of the earliest thing in the world you just need to learn HTML CSS <br>JavaScript you are good to go</p>

        <div class="row">

            <div class="compus-col">

                <img src="image/london.png">

                <div class="layer">
                    <h3>London</h3>

                </div>



            </div>

            <div class="compus-col">

                <img src="image/newyork.png">

                <div class="layer">
                    <h3>NEW YORK</h3>

                </div>



            </div>


            <div class="compus-col">

                <img src="image/washington.png">

                <div class="layer">
                    <h3>WASHINGTON</h3>

                </div>



            </div>


        </div>





    </section>

    <!-----------------------------------------------------------Cumpus---------------------------------------------------------------->




    <!-----------------------------------------------------------facility-------------------------------------------------------------->

    <section class="facility">

        <h1>Our Facility</h1>
        <p>Lprium isdbm gskjtw uinkjne iuierj iewr ksd jnng </p>

        <div class="row">

            <div class="facility-col ">

                <img src="image/library.png ">

                <h3>World Classic Library</h3>

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>



            <div class="facility-col">

                <img src="image/basketball.png">

                <h3>Largest Play Ground</h3>

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>



            <div class="facility-col ">

                <img src="image/cafeteria.png ">

                <h3>Tasty and Heathy Food</h3>

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

            </div>



        </div>


    </section>


    <!------------------------------------------------------testimonials--------------------------------------------------------------->

    <section class="testimonials ">

        <h1>What Our Student Say</h1>
        <p>Lprium isdbm gskjtw uinkjne iuierj iewr ksd jnng </p>

        <div class="row">

            <div class="testimonials-col">

                <img src="image/user1.jpg">

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

                <h3>Christine Berkley</h3>

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>

            </div>

            <div class="testimonials-col">

                <img src="image/user2.jpg">

                <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

                <h3>David Byer</h3>

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>

            </div>

        </div>

    </section>

    <!------------------------------------------------------testimonials--------------------------------------------------------------->


    <!--------------------------------------------------------Call to Action----------------------------------------------------------->

    <section class="cta">

        <h1>Enroll for our various online corses <br> Anywhere from world</h1>

        <a href="" class="hero-btn">CONTACT US</a>




    </section>

    <!--------------------------------------------------------Call to Action----------------------------------------------------------->



    <!--------------------------------------------------------Footer------------------------------------------------------------------->

    <section class="footer">

        <h4>About Us</h4>

        <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

        <div class="icons">


            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>




        </div>







    </section>

    <!--------------------------------------------------------Footer------------------------------------------------------------------->




    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->

    <script>
        var navLink = document.getElementById("navLink ")

        function showmenu() {
            navLink.style.right = "0 ";
        }

        function hidemenu() {
            navLink.style.right = "-200px ";
        }
    </script>


    </body>

</html>