<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
    <title>University Website Design Tutorial</title>

 <link rel="stylesheet" href="css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet" </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" <body>

    <section class=" sub-header" .>

        <nav>

            <a href="index.html"><img src="image/logo.png"></a>

            <div class="nav-link" id="navLink">

                <i class="fa fa-times" onclick="hidemenu()"></i>



                <ul>


                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="course.html">Course</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="Contact.html">Contact</a></li>




                </ul>

            </div>


            <i class="fa fa-bars" onclick="showmenu()"></i>


        </nav>

        <h1>Contact US </h1>




        </div>



    </section>

    <!-----------------------------------------------Contact Us------------------------------------------------------------------->

    <section class="location">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29464.75574910531!2d75.668095649233!3d22.612947216939585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962564220635431%3A0x1ed4b3c611de0d32!2sPithampur%20Industrial%20Area%2C%20Pithampur%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1650284721072!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </section>

    <section class="contact-us">

        <div class="row">

            <div class="contact-col">

                <div>

                    <i class="fa fa-home"></i>

                    <span>

                    <h5>Mhow Nimuch Road,Eicher Company</h5>

                    <p>Pithampur,MP,IN</p>

                </span>

                </div>


                <div>

                    <i class="fa fa-phone"></i>

                    <span>

                    <h5>+323242432</h5>

                    <p>Monday to Saturday,10AM to 6AM</p>

                </span>

                </div>


                <div>

                    <i class="fa fa-envelope-o"></i>

                    <span>

                    <h5>Pithampur@gmail.com</h5>

                    <p>Email us Your Query</p>

                </span>

                </div>


            </div>

            <div class="contact-col">

                <form action="">

                    <input type="text" placeholder="Enter your name" required>
                    <input type="email" placeholder="Enter email address" required>
                    <input type="text" placeholder="subject" required>
                    <textarea rows="8" placeholder="Message" required></textarea>
                    <button type="submit" class="hero-btn red-btn"> Send Message</button>



                </form>

            </div>

        </div>



    </section>>

    <!--------------------------------------------------------Footer------------------------------------------------------------------->

    <section class="footer">

        <h4>About Us</h4>

        <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

        <div class="icons">


            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>




        </div>







    </section>

    <!--------------------------------------------------------Footer------------------------------------------------------------------->


    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->

    <script>
        var navLink = document.getElementById("navLink ")

        function showmenu() {
            navLink.style.right = "0 ";
        }

        function hidemenu() {
            navLink.style.right = "-200px ";
        }
    </script>

    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->



    </body>

</html>